.h2 {
  margin-bottom: 10px;
  font-size: 2rem;
}
.h3 {
  margin-bottom: 10px;
}
.h4 {
  margin-bottom: 10px;
}
.h5 {
  margin-bottom: 10px;
}
.post {
  display: block;
  color: inherit;
  text-decoration: none;
  background-color: #fafafa;
  margin-bottom: 20px;
  padding: 20px;
}
