.ul {
  display: flex;
  a {
    text-decoration: none;
    font-family: "Segoe UI";
  }
  li {
    text-decoration: none;
    margin-left: 20px;
    display: flex;
  }
}
.link {
  color: #2e1092;
}
.active-link {
  color: #c04cee;
}
